<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="hoReceiveReservation">
	
	<!-- 진료과목 이름 불러오기 -->
	<select id="selectTreatSubject" resultType="com.team4.project.hospital.dto.HoTreatSubject">
		SELECT
			HO_TREAT_SUBJECT_CODE,
			HO_TREAT_SUBJECT_NAME
		FROM ho_treat_subject
	</select>
	
	<!-- 접수등록 -->
	<insert id="addReceive" parameterType="com.team4.project.hospital.receiveReservation.domain.HoReceive">
		INSERT into ho_receive(
			HO_RECEIVE_CODE,
			HO_HOSPITAL_CODE,
			HO_RECEIVE_PURPOSE,
			HO_TREAT_SUBJECT_CODE,
			)
			
		
	</insert>
	
	<!--환자조회 -->
	<select id="selectPatient" resultType="com.team4.project.hospital.dto.HoPatient"
 								 parameterType="String">
 		SELECT 
 			HO_HOSPITAL_CODE,
 			HO_CITIZEN_ID,
 			HO_PATIENT_NAME,
 			HO_PATIENT_PHONE,
 			HO_ZIP_CODE,
 			HO_PATIENT_ADDRESS,
 			HO_PATIENT_DETAIL_ADDRESS 
 		FROM
 		 ho_patient 
 		WHERE 
 			HO_CITIZEN_ID = #{hoCitizenId}
 	</select>
 	<!-- test 환자 조회 -->
 	<select id="selectPatientTest" resultType="com.team4.project.hospital.dto.HoPatient"
 								 parameterType="String">
 		SELECT 
 			HO_HOSPITAL_CODE as hoHospitalCode,
 			HO_CITIZEN_ID as hoCitizenId,
 			HO_PATIENT_NAME as hoPatientName
 		FROM
 		 ho_patient 
 		WHERE 
 			HO_CITIZEN_ID = #{hoCitizenId}
 		AND HO_PATIENT_NAME = #{hoPatientName}
 	</select>
 	
</mapper>
