<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="hoReceiveReservation">
	
	<!-- 진료과목 이름 불러오기 -->
	<select id="selectTreatSubject" resultType="com.team4.project.hospital.dto.HoTreatSubject">
		SELECT
			HO_TREAT_SUBJECT_CODE,
			HO_TREAT_SUBJECT_NAME
		FROM ho_treat_subject
	</select>
	
	<!-- 접수등록 -->
	<insert id="addReceive" parameterType="com.team4.project.hospital.receiveReservation.domain.HoReceiveSub">
		INSERT into ho_receive(
			HO_RECEIVE_CODE,
			HO_HOSPITAL_CODE,
			HO_RECEIVE_PURPOSE,
			HO_TREAT_SUBJECT_CODE,
			HO_RECEIVE_STATE_CODE,
			HO_RECEIVE_REGISTRATION_DATE,
			HO_STAFF_ID,
			HO_PATIENT_CODE)
		SELECT
			if(not exists (select * from ho_receive) ,
 				'receive_1',
				CONCAT('receive_',max(cast(substring(ho_receive.HO_RECEIVE_CODE,9,5) as UNSIGNED ))+1)),
			#{hoHospitalCode},
			#{hoReceivePurpose},
			#{hoTreatSubjectCode},
			1,
			now(),
			#{hoStaffId},
			#{hoPatientCode}
		FROM ho_receive
	</insert>
	
	<!--환자조회 -->
	<select id="selectPatient" resultType="com.team4.project.hospital.dto.HoPatient"
 								 parameterType="Map">
 		SELECT 
 			HO_PATIENT_CODE,
 			HO_HOSPITAL_CODE,
 			HO_CITIZEN_ID,
 			HO_PATIENT_NAME,
 			HO_PATIENT_PHONE,
 			HO_ZIP_CODE,
 			HO_PATIENT_ADDRESS,
 			HO_PATIENT_DETAIL_ADDRESS 
 		FROM
 		 ho_patient 
 		WHERE 
 			HO_CITIZEN_ID = #{hoCitizenId}
 			AND HO_HOSPITAL_CODE = #{hoHospitalCode}
 			
 	</select>
 	
 	<!-- test 환자 조회 -->
 	<select id="selectPatientTest" resultType="com.team4.project.hospital.dto.HoPatient"
 								 parameterType="String">
 		SELECT 
 			HO_HOSPITAL_CODE,
 			HO_CITIZEN_ID,
 			HO_PATIENT_NAME
 		FROM
 		 ho_patient 
 		WHERE 
 			HO_CITIZEN_ID = #{hoCitizenId}
	 		AND HO_PATIENT_NAME = #{hoPatientName}
	 		AND HO_HOSPITAL_CODE = #{hoHospitalCode}
 	</select>
 	
	<!-- 접수 목록 -->
	<select id="ReceiveList" resultType="com.team4.project.hospital.receiveReservation.domain.HoReceiveSub" parameterType="String">
		SELECT
			ho_receive.HO_RECEIVE_CODE,
			ho_receive.HO_HOSPITAL_CODE,
			ho_receive.HO_PATIENT_CODE,
			HO_RECEIVE_PURPOSE,
			ho_patient.HO_PATIENT_NAME,
			ho_treat_subject.HO_TREAT_SUBJECT_CODE,
			ho_treat_subject.HO_TREAT_SUBJECT_NAME,
			ho_receive.HO_RECEIVE_REGISTRATION_DATE,
			ho_receive_state.HO_RECEIVE_STATE_NAME
		FROM ho_receive
		JOIN ho_patient
			ON	ho_receive.HO_PATIENT_CODE = ho_patient.HO_PATIENT_CODE
		JOIN ho_treat_subject
			ON ho_receive.HO_TREAT_SUBJECT_CODE = ho_treat_subject.HO_TREAT_SUBJECT_CODE
		JOIN ho_receive_state
			ON ho_receive.HO_RECEIVE_STATE_CODE = ho_receive_state.HO_RECEIVE_STATE_CODE
		WHERE ho_receive.HO_HOSPITAL_CODE=#{hoHospitalCode}
		AND ho_receive_state.HO_RECEIVE_STATE_NAME='접수완료'
	</select>
	
	<!-- 수납대기자 목록  -->
	<select id="payList" resultType="com.team4.project.hospital.receiveReservation.domain.HoReceiveSub" parameterType="String">
		SELECT
			ho_receive.HO_RECEIVE_CODE,
			ho_receive.HO_HOSPITAL_CODE,
			ho_receive.HO_PATIENT_CODE,
			ho_patient.HO_PATIENT_NAME,
			ho_treat_subject.HO_TREAT_SUBJECT_NAME,
			HO_RECEIVE_PURPOSE,
			ho_receive.HO_RECEIVE_REGISTRATION_DATE,
			ho_receive_state.HO_RECEIVE_STATE_NAME
		FROM ho_receive
		JOIN ho_patient
			ON	ho_receive.HO_PATIENT_CODE = ho_patient.HO_PATIENT_CODE
		JOIN ho_treat_subject
			ON ho_receive.HO_TREAT_SUBJECT_CODE = ho_treat_subject.HO_TREAT_SUBJECT_CODE
		JOIN ho_receive_state
			ON ho_receive.HO_RECEIVE_STATE_CODE = ho_receive_state.HO_RECEIVE_STATE_CODE
		WHERE ho_receive.HO_HOSPITAL_CODE=#{hoHospitalCode}
		AND ho_receive_state.HO_RECEIVE_STATE_NAME='수납대기'
	</select>
	
	<!-- 접수완료에서 진료 상태로 변경 -->
	<update id="receiveStateDiagnosis" parameterType="String">
		update
			ho_receive
		set
			ho_receive.HO_RECEIVE_STATE_CODE='2',
			ho_receive.HO_TREATMENT_CODE = (
				select CONCAT('treatment_',max(cast(substring(ho_treatment.HO_TREATMENT_CODE,11,5) as UNSIGNED ))) 
			from ho_treatment)	
		where 
			ho_receive.HO_RECEIVE_CODE=#{hoReceiveCode}
	</update>
	
	<!-- 진료상태에서 수납대기 상태로 변경 -->
	<update id="receiveStateAcceptance" parameterType="String">
		update
			ho_receive
		set
			ho_receive.HO_RECEIVE_STATE_CODE='3'
		WHERE
			ho_receive.HO_TREATMENT_CODE=#{hoReceiveCode}	

	</update>
	
	<!-- 수납대기에서 수납완료 상태로 변경 -->
	<update id="payComplete" parameterType="String">
		update
			ho_receive
		set
			ho_receive.HO_RECEIVE_STATE_CODE='4'
		WHERE
			ho_receive.HO_RECEIVE_CODE=#{hoReceiveCode}
	</update>
	
</mapper>
