<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hoTransport">
	<!-- 혈액검사결과 조회 -->
	<select id="selectListHoBloodTest" parameterType="String" resultType="com.team4.project.hospital.test.domain.HoBloodTest">
		SELECT
			ho_blood_test.HO_BLOOD_TEST_CODE,
			ho_blood_test.HO_TEST_REQUEST_CODE,
			ho_blood_test.HO_TREATMENT_CODE,
			ho_blood_test.HO_BLOOD_TEST_PLATELET,
			ho_blood_test.HO_BLOOD_TEST_SUGAR,
			ho_blood_test.HO_BLOOD_TEST_IMAGE_PATH,
			ho_blood_test.HO_BLOOD_TEST_IMAGE_NAME,
			ho_blood_test.HO_BLOOD_TEST_DATE,
			ho_blood_test.HO_BLOOD_TEST_REGISTRATION_DATE,
			ho_blood_test.HO_GO_SENDSTATE
		FROM ho_blood_test
		JOIN ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE = ho_blood_test.HO_TREATMENT_CODE
		WHERE 
				ho_blood_test.HO_GO_SENDSTATE = 0
			AND
				ho_blood_test.HO_BLOOD_TEST_REGISTRATION_DATE is not null
			AND
				ho_treatment.HO_HOSPITAL_CODE = #{hospitalCode}
	</select>

	<!-- 차트 조회 -->
	<select id="selectListHoChart" parameterType="String" resultType="com.team4.project.hospital.treatChart.domain.HoChart">
		SELECT
			ho_chart.HO_CHART_CODE,
			ho_chart.HO_PATIENT_CODE,
			ho_chart.HO_HOSPITAL_CODE,
			ho_chart.HO_CHART_REGISTRATION_DATE,
			ho_chart.HO_GO_SENDSTATE
		FROM ho_chart
		WHERE ho_chart.HO_GO_SENDSTATE = 0
			AND
				ho_chart.HO_HOSPITAL_CODE = #{hospitalCode}
	</select>

	<!-- 건강검진 조회 -->
	<select id="selectListHoCheckup" parameterType="String" resultType="com.team4.project.hospital.vaccineCheckup.domain.HoCheckup">
  		SELECT
		     ho_checkup.HO_CHECKUP_CODE,
			  ho_checkup.HO_TREATMENT_CODE,
			  ho_checkup.HO_TEST_REQUEST_CODE,
			  ho_checkup.HO_CHECKUP_RESULT_NAME,
			  ho_checkup.HO_CHECKUP_RESULT_PATH,
			  ho_checkup.HO_CHECKUP_DATE,
			  ho_checkup.HO_CHECKUP_REGISTRATION_DATE,
			  ho_checkup.HO_GO_SENDSTATE  
		FROM ho_checkup
		JOIN ho_treatment
			ON ho_checkup.HO_TREATMENT_CODE = ho_treatment.HO_TREATMENT_CODE                                           
		WHERE 
				ho_checkup.HO_GO_SENDSTATE = 0                      
			AND 
				ho_checkup.HO_CHECKUP_REGISTRATION_DATE is not null
			AND
				ho_treatment.HO_HOSPITAL_CODE = #{hospitalCode}
	</select>

	<!-- 진단(질병) 조회 -->
	<select id="selectListHoDiagnosis" parameterType="String" resultType="com.team4.project.hospital.diagnosisPrescription.domain.HoDiagnosis">
  		SELECT
  			ho_diagnosis.HO_DIAGNOSIS_CODE,
  			ho_diagnosis.HO_TREATMENT_CODE,
  			ho_diagnosis.HO_DISEASE_CODE,
  			ho_diagnosis.HO_DIAGNOSIS_WRITE_DATE,
  			ho_diagnosis.HO_GO_SENDSTATE
		FROM ho_diagnosis
		JOIN ho_treatment
			ON ho_diagnosis.HO_TREATMENT_CODE = ho_treatment.HO_TREATMENT_CODE
		WHERE ho_diagnosis.HO_GO_SENDSTATE = 0
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
	<!-- 입퇴원 조회 -->
	<select id="selectListHoHospitalization" parameterType="String" resultType="com.team4.project.hospital.hospitalizationOperation.domain.HoHospitalization">
  		SELECT
  			ho_hospitalization.HO_HOSPITALIZATION_CODE,
  			ho_hospitalization.HO_TREATMENT_CODE,
  			ho_hospitalization.HO_HOSPITALIZATION_REQUEST_CODE,
  			ho_hospitalization.HO_HOSPITALIZATION_START_DATE,
  			ho_hospitalization.HO_HOSPITALIZATION_END_DATE,
  			ho_hospitalization.HO_GO_SENDSTATE
		FROM ho_hospitalization
		JOIN ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE = ho_hospitalization.HO_TREATMENT_CODE
		WHERE 
				ho_hospitalization.HO_GO_SENDSTATE = 0
			AND 
				ho_hospitalization.HO_HOSPITALIZATION_END_DATE is not null
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
	<!-- 영상검사 조회 -->
	<select id="selectListHoMediaTest" parameterType="String" resultType="com.team4.project.hospital.test.domain.HoMediaTest">
  		SELECT
  			ho_media_test.HO_MEDIA_TEST_CODE,
  			ho_media_test.HO_TEST_REQUEST_CODE,
  			ho_media_test.HO_TREATMENT_CODE,
  			ho_media_test.HO_MEDIA_TEST_IMAGE_PATH,
  			ho_media_test.HO_MEDIA_TEST_IMAGE_NAME,
  			ho_media_test.HO_MEDIA_TEST_DATE,
  			ho_media_test.HO_MEDIA_TEST_REGISTRATION_DATE,
  			ho_media_test.HO_GO_SENDSTATE
		FROM ho_media_test
		JOIN ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE= ho_media_test.HO_TREATMENT_CODE
		WHERE 
				ho_media_test.HO_GO_SENDSTATE = 0
			AND 
				ho_media_test.HO_MEDIA_TEST_REGISTRATION_DATE is not null
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
	<!-- 수술결과 조회 -->
	<select id="selectListHoOperation" parameterType="String" resultType="com.team4.project.hospital.hospitalizationOperation.domain.HoOperation">
  		SELECT
  			ho_operation.HO_OPERATION_CODE,
  			ho_operation.HO_TREATMENT_CODE,
  			ho_operation.HO_OPERATION_TYPE_CODE,
  			ho_operation.HO_OPERATION_DIARY,
  			ho_operation.HO_OPERATION_START_DATE,
  			ho_operation.HO_OPERATION_END_DATE,
  			ho_operation.HO_GO_SENDSTATE
		FROM ho_operation
		JOIN ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE=ho_operation.HO_TREATMENT_CODE
		WHERE
				ho_operation.HO_GO_SENDSTATE = 0
			AND
				ho_operation.HO_OPERATION_DIARY is not null
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
	<!-- 처방결과 조회 -->
	<select id="selectListHoPrescription" parameterType="String" resultType="com.team4.project.hospital.diagnosisPrescription.domain.HoPrescription">
  		SELECT
  			ho_prescription.HO_PRESCRIPTION_CODE,
  			ho_prescription.HO_TREATMENT_CODE,
  			ho_prescription.HO_MEDICINE_CODE,
  			ho_prescription.HO_PRESCRIPTION_DAILYDOSE,
  			ho_prescription.HO_PRESCRIPTION_DAILYCOUNT,
  			ho_prescription.HO_PRESCRIPTION_TOTALDAY,
  			ho_prescription.HO_PRESCRIPTION_USAGE,
  			ho_prescription.HO_PRESCRIPTION_WRITE,
  			ho_prescription.HO_GO_SENDSTATE
		FROM ho_prescription
		JOIN ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE=ho_prescription.HO_TREATMENT_CODE
		WHERE ho_prescription.HO_GO_SENDSTATE = 0
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
	<!-- 진료 조회 -->
	<select id="selectListHoTreat" parameterType="String" resultType="com.team4.project.hospital.treatChart.domain.HoTreat">
  		SELECT
  			ho_treatment.HO_TREATMENT_CODE,
  			ho_treatment.HO_DOCTOR_ID,
  			ho_treatment.HO_HOSPITALIZATION_STATE_CODE,
  			ho_treatment.HO_CHART_CODE,
  			ho_treatment.HO_PATIENT_CODE,
  			ho_treatment.HO_HOSPITAL_CODE,
  			ho_treatment.HO_TREAT_SUBJECT_CODE,
  			ho_treatment.HO_TREATMENT_CONTENTS,
  			ho_treatment.HO_TREATMENT_WRITE_DATE,
  			ho_treatment.HO_GO_SENDSTATE
		FROM ho_treatment
		WHERE 
				ho_treatment.HO_GO_SENDSTATE = 0
			AND 
				ho_treatment.HO_TREATMENT_CONTENTS is not null
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
	<!-- 예방접종 조회 -->
	<select id="selectListHoVaccine" parameterType="String" resultType="com.team4.project.hospital.vaccineCheckup.domain.HoVaccine">
  		SELECT
  			ho_vaccine.HO_VACCINE_CODE,
  			ho_vaccine.HO_TREATMENT_CODE,
  			ho_vaccine.HO_VACCINE_TYPE_CODE,
  			ho_vaccine.HO_VACCINE_COUNT,
  			ho_vaccine.HO_VACCINE_DATE,
  			ho_vaccine.HO_GO_SENDSTATE
		FROM ho_vaccine
		JOIN ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE=ho_vaccine.HO_TREATMENT_CODE
		WHERE ho_vaccine.HO_GO_SENDSTATE = 0
			AND
				ho_treatment.HO_HOSPITAL_CODE=#{hospitalCode}
	</select>
	
</mapper>