<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="hoTest">
<!-- 검사종류마다 목록  -->
 	<select id="listHoTest" resultType="com.team4.project.hospital.test.domain.HoTestRequestSub" parameterType="String">
 		select
			ho_test_request.HO_TEST_REQUEST_CODE,
			ho_treatment.HO_TREATMENT_CODE,
			ho_patient.HO_PATIENT_NAME
		from ho_test_request
		join ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE = ho_test_request.HO_TREATMENT_CODE
		JOIN ho_patient
			ON ho_patient.HO_PATIENT_CODE = ho_treatment.HO_PATIENT_CODE
		where ho_test_request.HO_TEST_CODE=#{hoTestCode}
 	</select>
 	<!-- 영상 등록필요한  -->
 	<select id="addMediaTestView" resultType="com.team4.project.hospital.test.domain.HoMediaTestSub" parameterType="String">
 		select
			HO_TEST_REQUEST_CODE,
			ho_treatment.HO_TREATMENT_CODE,
			ho_patient.HO_PATIENT_NAME,
			ho_test.HO_TEST_CODE,
			ho_test.HO_TEST_NAME
		from ho_test_request
		join ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE = ho_test_request.HO_TREATMENT_CODE
		JOIN ho_patient
			ON ho_patient.HO_PATIENT_CODE = ho_treatment.HO_PATIENT_CODE
		JOIN ho_test
			ON ho_test.HO_TEST_CODE = ho_test_request.HO_TEST_CODE
		WHERE ho_test_request.HO_TEST_REQUEST_CODE=#{hoTestRequestCode}
 	</select>
 	<!-- 영상 결과 등록 -->
 	<insert id="addMediaTest" parameterType="com.team4.project.hospital.test.domain.HoMediaTestSub">
 		insert into ho_media_test(
 			HO_MEDIA_TEST_CODE,
			HO_TEST_REQUEST_CODE,
			HO_TREATMENT_CODE,
			HO_TEST_STATE_CODE,
			HO_MEDIA_TEST_IMAGE_PATH,
			HO_MEDIA_TEST_IMAGE_NAME,
			HO_MEDIA_TEST_DATE,
			HO_MEDIA_TEST_REGISTRATION_DATE)
		select
			if(HO_MEDIA_TEST_CODE is null, videoInspection_1, 
				CONCAT('videoInspection_',
				max(cast(substring(HO_MEDIA_TEST_CODE,17,5) as UNSIGNED ))+1)),
			#{hoTestRequestCode},
			#{hoTreatmentCode},
			#{hoTestStateCode},
			#{hoMediaTestImagePath},
			#{hoMediaTestImageName},
			now(),
			now()
		FROM ho_media_test
 	</insert>
 	<!-- 혈액등록창에 보여줄 SQL -->
 	<select id="viewBlood" resultType="com.team4.project.hospital.test.domain.HoBloodTestSub" parameterType="String">
 		select
			HO_TEST_REQUEST_CODE,
			ho_treatment.HO_TREATMENT_CODE,
			ho_patient.HO_PATIENT_NAME,
			ho_test.HO_TEST_CODE,
			ho_test.HO_TEST_NAME
		from ho_test_request
		join ho_treatment
			ON ho_treatment.HO_TREATMENT_CODE = ho_test_request.HO_TREATMENT_CODE
		JOIN ho_patient
			ON ho_patient.HO_PATIENT_CODE = ho_treatment.HO_PATIENT_CODE
		JOIN ho_test
			ON ho_test.HO_TEST_CODE = ho_test_request.HO_TEST_CODE
		WHERE ho_test_request.HO_TEST_REQUEST_CODE=#{hoTestRequestCode}
 	</select>
 	<!-- 혈액 등록 -->
 	<insert id="addBlood" parameterType="com.team4.project.hospital.test.domain.HoBloodTestSub">
 		insert into ho_blood_test(
 			HO_BLOOD_TEST_CODE,
			HO_TEST_REQUEST_CODE,
			HO_TREATMENT_CODE,
			HO_TEST_STATE_CODE,
			HO_BLOOD_TEST_PLATELET,
			HO_BLOOD_TEST_SUGAR,
			HO_BLOOD_TEST_IMAGE_PATH,
			HO_BLOOD_TEST_IMAGE_NAME,
			HO_BLOOD_TEST_DATE,
			HO_BLOOD_TEST_REGISTRATION_DATE)
		select
			if(HO_BLOOD_TEST_CODE is null, bloodInspection_1,
				CONCAT('bloodInspection_',
				max(cast(substring(HO_BLOOD_TEST_CODE,17,5) as UNSIGNED ))+1)),
			#{hoTestRequestCode},
			#{hoTreatmentCode},
			#{hoTestStateCode},
			#{hoBloodTestPlatelet},
			#{hoBloodTestSugar},
			#{hoBloodTestImagePath},
			#{hoBloodTestImageName},
			now(),
			now()
		FROM ho_blood_test
 	</insert>
 	<!-- 검사 등록  -->
	<insert id="addTestRequest" parameterType="com.team4.project.hospital.test.domain.HoTestRequestSub">
	insert into ho_test_request(
			HO_TEST_REQUEST_CODE,
			HO_TREATMENT_CODE,
			HO_TEST_CODE 
			)
	select
		if(not exists (select * from ho_test_request), 'testrequest_1',
			CONCAT('testrequest_',
			max(cast(substring(HO_TEST_REQUEST_CODE,13,5) as UNSIGNED ))+1)),
		#{hoTreatmentCode},
		#{hoTestCode}
	from ho_test_request	
			

		<!-- 매개변수중 진료코드,검사코드 를 사용 -->
	</insert> 
	
</mapper>
