<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="goTest">

	
	<!-- 혈액검사결과 조회 + 의사명,병원명,진료내역 조회 -->
	<select id="selectBlood" resultType="com.team4.project.government.test.domain.GoBloodTestTreatSub"
	 parameterType="com.team4.project.government.test.domain.GoTest">
	select 
			go_test_blood_result.Go_BLOOD_TEST_CODE as goBloodTestCode,
	 		go_test_blood_result.GO_TREAT_CODE as goTreatCode,
	 		go_test_blood_result.GO_BLOOD_TEST_BLOOD_SUGAR as goBloodTestBloodSugar,
	 		go_test_blood_result.GO_BLOOD_TEST_PLATELET as goBloodTestPlatelet,
	 		go_test_blood_result.GO_BLOOD_TEST_FILE_PATH as goBloodTestFilePath,
	 		go_test_blood_result.GO_BLOOD_TEST_FILE_NAME as goBloodTestFileName,
	 		go_test_blood_result.GO_BLOOD_TEST_DATE as goBloodTestDate,
	 		go_test_blood_result.GO_BLOOD_TEST_GO_REGISTRATION_DATE as goBloodTestGoRegistrationDate,
	 		go_treat.GO_HOSPITAL_ID as goHospital,
	 		go_treat.GO_CITIZEN_NO as goCitizen,
	 		go_treat.GO_DOCTOR_ID as goDoctorId,
	 		go_treat.GO_TREAT_SUBJECT_CODE as goTreatSubjectCode,
	 		go_treat.GO_CHART_CODE as goChartCode,
	 		go_treat.GO_CHART_SEQ as goChartSeq,
	 		go_treat.GO_TREAT_CONTENTS as goTreatContents,
	 		go_treat.GO_TREAT_REGISTRATION_DATE as goTreatRegistrationDate,
	 		go_treat.GO_TREAT_GO_REGISTRATION_DATE as goTreatGoRegistrationDate,
	 		go_hospital.GO_HOSPITAL_NAME as goHospitalName,
			go_doctor.GO_DOCTOR_NAME as goDoctorName,
			go_treat.GO_TREAT_CONTENTS as goTreatContents 
	 	from go_test_blood_result 
		join go_treat on go_test_blood_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_citizen on go_treat.GO_CITIZEN_NO = go_citizen.GO_CITIZEN_NO 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
		join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	<where> 
	 	(go_test_blood_result.GO_BLOOD_TEST_DATE between #{goFirstDate} and #{goSecondDate}) AND go_citizen.GO_CITIZEN_ID = #{goCitizenId} 
			<if test='!goDoctorName.equals("")'>
				and go_doctor.GO_DOCTOR_NAME like #{goDoctorName} 
			</if>
			<if test='!goHospitalName.equals("")'>
				and go_hospital.GO_HOSPITAL_NAME like #{goHospitalName}
			</if>
		</where>	
			order by go_test_blood_result.GO_BLOOD_TEST_DATE desc
	
	</select>

	<!-- 이미지 결과 조회 -->
	<select id="selectImage" resultType="com.team4.project.government.test.domain.GoImageTestTreatSub" 
	parameterType="com.team4.project.government.test.domain.GoTest">
		select 
			go_test_image_result.GO_IMAGE_TEST_CODE as goImageTestCode,
			go_test_image_result.GO_TREAT_CODE as goTreatCode,
			go_test_image_result.GO_IMAGE_TEST_FILE_PATH as goImageTestFilePath,
			go_test_image_result.GO_IMAGE_TEST_FILE_NAME as goImageTestFileName,
			go_test_image_result.GO_IMAGE_TEST_DATE as goImageTestDate,
			go_test_image_result.GO_IMAGE_TEST_GO_REGISTRATION_DATE as goImageTestGoRegistrationDate,
	 		go_treat.GO_HOSPITAL_ID as goHospital,
	 		go_treat.GO_CITIZEN_NO as goCitizen,
	 		go_treat.GO_DOCTOR_ID as goDoctorId,
	 		go_treat.GO_TREAT_SUBJECT_CODE as goTreatSubjectCode,
	 		go_treat.GO_CHART_CODE as goChartCode,
	 		go_treat.GO_CHART_SEQ as goChartSeq,
	 		go_treat.GO_TREAT_CONTENTS as goTreatContents,
	 		go_treat.GO_TREAT_REGISTRATION_DATE as goTreatRegistrationDate,
	 		go_treat.GO_TREAT_GO_REGISTRATION_DATE as goTreatGoRegistrationDate 
	 	from go_test_image_result 
		join go_treat on go_test_image_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_citizen on go_treat.GO_CITIZEN_NO = go_citizen.GO_CITIZEN_NO 
	 	where  
			(go_test_image_result.GO_IMAGE_TEST_DATE between #{goFirstDate} and #{goSecondDate}) AND go_citizen.GO_CITIZEN_ID = #{goCitizenId}
	</select>
</mapper>
