<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="GoVaccinationCheckup">
 	
 	<!-- 예방접종 결과목록 가져오기 -->
 	<select id="vaccinationList" resultType="com.team4.project.government.vaccinationCheckup.domain.GoVaccinationResult">
 		SELECT
 			GO_VACCINATION_RESULT_CODE,
 			GO_TREAT_CODE,
 			GO_VACCINATION_NAME,
 			GO_VACCINATION_DEGREE,
 			GO_VACCINATION_RESULT_DEGREE,
 			GO_VACCINATION_RESULT_REGISTRATION_DATE
 		FROM go_vaccination_result
 		JOIN go_vaccination
 			ON go_vaccination_result.GO_VACCINATION_CODE = go_vaccination.GO_VACCINATION_CODE
 	</select>
 	<select id="checkUpList" resultType="com.team4.project.government.vaccinationCheckup.domain.GoCheckup">
 		SELECT 
 			GO_CHECKUP_RESULT_CODE as goCheckUpResultCode,
 			GO_TREAT_CODE as goTreatCode,
 			GO_CHECKUP_RESULT_FILE_PATH as goCheckUpResultFilePath,
 			GO_CHECKUP_RESULT_FILE_NAME as goCheckUpResultFileName,
 			GO_CHECKUP_RESULT_REGISTRATION_DATE as goCheckUpResultRegistrationDate,
 			GO_CHECKUP_RESULT_GO_REGISTRATION_DATE as goCheckUpResultGoRegistrationDate 
 		 FROM 
 		 	go_treat 
 		 	JOIN go_test_checkup_result on go_treat.GO_TREAT_CODE=go_test_checkup_result.GO_TREAT_CODE 
			JOIN go_citizen on go_treat.GO_CITIZEN_NO=go_citizen.GO_CITIZEN_NO
			WHERE go_citizen.GO_CITIZEN_ID=#{goCitizenId}
			 		 	
 			
 	
 	
 	</select>
</mapper>
