<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="GoVaccinationCheckup">

 	<!-- treatCode를 사용하여 예방접종정보와 병원이름,병원주소,환자명,의사명,진료과명 을 조회 -->
 	<select id="selectOneVaccinationResult" parameterType="String" 
 	resultType="com.team4.project.government.vaccinationCheckup.domain.GoVaccinationResult">
		select 
			go_vaccination_result.GO_VACCINATION_RESULT_CODE,
			go_vaccination_result.GO_TREAT_CODE,
			go_vaccination_result.GO_VACCINATION_CODE,
			go_vaccination_result.GO_VACCINATION_RESULT_DEGREE,
			go_vaccination_result.GO_VACCINATION_RESULT_REGISTRATION_DATE,
			go_vaccination_result.GO_VACCINATION_RESULT_GO_REGISTRATION_DATE,
			go_vaccination.GO_VACCINATION_NAME,
			go_hospital.GO_HOSPITAL_NAME, 
	 		go_hospital.GO_HOSPITAL_ADDRESS, 
	 		go_citizen.GO_CITIZEN_NAME, 
	 		go_doctor.GO_DOCTOR_NAME,
	 		go_treat_subject.GO_TREAT_SUBJECT_NAME   
		from go_vaccination_result 
		join go_vaccination on go_vaccination_result.GO_VACCINATION_CODE = go_vaccination.GO_VACCINATION_CODE 
		join go_treat on go_vaccination_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
	 	join go_citizen on go_treat.GO_CITIZEN_ID = go_citizen.GO_CITIZEN_ID 
	 	join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	join go_treat_subject on go_treat.GO_TREAT_SUBJECT_CODE = go_treat_subject.GO_TREAT_SUBJECT_CODE 
		where go_vaccination_result.go_treat_code= #{treatCode}
 	</select>
 	
 	<!-- citizenId를 사용하여 예방접종정보와 병원이름,병원주소,환자명,의사명,진료과명 을 조회 -->
 	<select id="selectListVaccinationResult" parameterType="String" resultType="com.team4.project.government.vaccinationCheckup.domain.GoVaccinationResult">
 		select 
			go_vaccination_result.GO_VACCINATION_RESULT_CODE,
			go_vaccination_result.GO_TREAT_CODE,
			go_vaccination_result.GO_VACCINATION_CODE,
			go_vaccination_result.GO_VACCINATION_RESULT_DEGREE,
			go_vaccination_result.GO_VACCINATION_RESULT_REGISTRATION_DATE,
			go_vaccination_result.GO_VACCINATION_RESULT_GO_REGISTRATION_DATE,
			go_vaccination.GO_VACCINATION_NAME,
			go_hospital.GO_HOSPITAL_NAME, 
	 		go_hospital.GO_HOSPITAL_ADDRESS, 
	 		go_citizen.GO_CITIZEN_NAME, 
	 		go_doctor.GO_DOCTOR_NAME,
	 		go_treat_subject.GO_TREAT_SUBJECT_NAME   
		from go_vaccination_result 
		join go_vaccination on go_vaccination_result.GO_VACCINATION_CODE = go_vaccination.GO_VACCINATION_CODE 
		join go_treat on go_vaccination_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
	 	join go_citizen on go_treat.GO_CITIZEN_ID = go_citizen.GO_CITIZEN_ID 
	 	join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	join go_treat_subject on go_treat.GO_TREAT_SUBJECT_CODE = go_treat_subject.GO_TREAT_SUBJECT_CODE 
		where go_treat.GO_CITIZEN_ID= #{citizenId} 
		order by go_vaccination_result.GO_VACCINATION_RESULT_REGISTRATION_DATE asc
 	</select>
 	
 	<!--doctorId를 사용하여 건강검진결과, 병원이름, 병원주소,환자명,의사명,진료과명을 조회 -->
 	<select id="selectListVaccinationResultByDoctorId" parameterType="String" resultType="com.team4.project.government.vaccinationCheckup.domain.GoVaccinationResult">
 		select 
			go_vaccination_result.GO_VACCINATION_RESULT_CODE,
			go_vaccination_result.GO_TREAT_CODE,
			go_vaccination_result.GO_VACCINATION_CODE,
			go_vaccination_result.GO_VACCINATION_RESULT_DEGREE,
			go_vaccination_result.GO_VACCINATION_RESULT_REGISTRATION_DATE,
			go_vaccination_result.GO_VACCINATION_RESULT_GO_REGISTRATION_DATE,
			go_vaccination.GO_VACCINATION_NAME,
			go_hospital.GO_HOSPITAL_NAME, 
	 		go_hospital.GO_HOSPITAL_ADDRESS, 
	 		go_citizen.GO_CITIZEN_NAME, 
	 		go_doctor.GO_DOCTOR_NAME,
	 		go_treat_subject.GO_TREAT_SUBJECT_NAME   
		from go_vaccination_result 
		join go_vaccination on go_vaccination_result.GO_VACCINATION_CODE = go_vaccination.GO_VACCINATION_CODE 
		join go_treat on go_vaccination_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
	 	join go_citizen on go_treat.GO_CITIZEN_ID = go_citizen.GO_CITIZEN_ID 
	 	join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	join go_treat_subject on go_treat.GO_TREAT_SUBJECT_CODE = go_treat_subject.GO_TREAT_SUBJECT_CODE 
		where go_treat.GO_DOCTOR_ID = #{doctorId} 
		order by go_vaccination_result.GO_VACCINATION_RESULT_REGISTRATION_DATE asc
 	</select>
 	
 	<!-- treatCode를 사용하여 건강검진결과, 병원이름,병원주소,환자명,의사명,진료과명 을 조회 -->
 	<select id="selectOneCheckupResult" parameterType="String" 
 	resultType="com.team4.project.government.vaccinationCheckup.domain.GoCheckup">
	 	select 
 			go_test_checkup_result.GO_CHECKUP_RESULT_CODE,
			go_test_checkup_result.GO_TREAT_CODE,
			go_test_checkup_result.GO_CHECKUP_RESULT_FILE_PATH,
			go_test_checkup_result.GO_CHECKUP_RESULT_FILE_NAME,
			go_test_checkup_result.GO_CHECKUP_RESULT_REGISTRATION_DATE,
			go_test_checkup_result.GO_CHECKUP_RESULT_GO_REGISTRATION_DATE,
 			go_hospital.GO_HOSPITAL_NAME, 
	 		go_hospital.GO_HOSPITAL_ADDRESS, 
	 		go_citizen.GO_CITIZEN_NAME, 
	 		go_doctor.GO_DOCTOR_NAME,
	 		go_treat_subject.GO_TREAT_SUBJECT_NAME 
		from go_test_checkup_result 
		join go_treat on go_test_checkup_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
	 	join go_citizen on go_treat.GO_CITIZEN_ID = go_citizen.GO_CITIZEN_ID 
	 	join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	join go_treat_subject on go_treat.GO_TREAT_SUBJECT_CODE = go_treat_subject.GO_TREAT_SUBJECT_CODE 
		where go_test_checkup_result.GO_TREAT_CODE = #{treatCode}
 	</select>
 	
 	<!-- citizenId를 사용하여 건강검진결과, 병원이름,병원주소,환자명,의사명,진료과명 을 조회 -->
 	<select id="selectListCheckupResult" parameterType="String" 
 	resultType="com.team4.project.government.vaccinationCheckup.domain.GoCheckup">
	 	select 
 			go_test_checkup_result.GO_CHECKUP_RESULT_CODE,
			go_test_checkup_result.GO_TREAT_CODE,
			go_test_checkup_result.GO_CHECKUP_RESULT_FILE_PATH,
			go_test_checkup_result.GO_CHECKUP_RESULT_FILE_NAME,
			go_test_checkup_result.GO_CHECKUP_RESULT_REGISTRATION_DATE,
			go_test_checkup_result.GO_CHECKUP_RESULT_GO_REGISTRATION_DATE,
 			go_hospital.GO_HOSPITAL_NAME, 
	 		go_hospital.GO_HOSPITAL_ADDRESS, 
	 		go_citizen.GO_CITIZEN_NAME, 
	 		go_doctor.GO_DOCTOR_NAME,
	 		go_treat_subject.GO_TREAT_SUBJECT_NAME 
		from go_test_checkup_result 
		join go_treat on go_test_checkup_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
	 	join go_citizen on go_treat.GO_CITIZEN_ID = go_citizen.GO_CITIZEN_ID 
	 	join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	join go_treat_subject on go_treat.GO_TREAT_SUBJECT_CODE = go_treat_subject.GO_TREAT_SUBJECT_CODE 
		where go_treat.GO_CITIZEN_ID = #{citizenId} 
		order by go_test_checkup_result.GO_CHECKUP_RESULT_REGISTRATION_DATE asc
 	</select>
 	
 	<!-- doctorId를 사용하여 건강검진결과, 병원이름,병원주소,환자명,의사명,진료과명 을 조회 -->
 	<select id="selectListCheckupResultByDoctorId" parameterType="String" 
 	resultType="com.team4.project.government.vaccinationCheckup.domain.GoCheckup">
	 	select 
 			go_test_checkup_result.GO_CHECKUP_RESULT_CODE,
			go_test_checkup_result.GO_TREAT_CODE,
			go_test_checkup_result.GO_CHECKUP_RESULT_FILE_PATH,
			go_test_checkup_result.GO_CHECKUP_RESULT_FILE_NAME,
			go_test_checkup_result.GO_CHECKUP_RESULT_REGISTRATION_DATE,
			go_test_checkup_result.GO_CHECKUP_RESULT_GO_REGISTRATION_DATE,
 			go_hospital.GO_HOSPITAL_NAME, 
	 		go_hospital.GO_HOSPITAL_ADDRESS, 
	 		go_citizen.GO_CITIZEN_NAME, 
	 		go_doctor.GO_DOCTOR_NAME,
	 		go_treat_subject.GO_TREAT_SUBJECT_NAME 
		from go_test_checkup_result 
		join go_treat on go_test_checkup_result.GO_TREAT_CODE = go_treat.GO_TREAT_CODE 
		join go_hospital on go_treat.GO_HOSPITAL_ID = go_hospital.GO_HOSPITAL_ID 
	 	join go_citizen on go_treat.GO_CITIZEN_ID = go_citizen.GO_CITIZEN_ID 
	 	join go_doctor on go_treat.GO_DOCTOR_ID = go_doctor.GO_DOCTOR_ID 
	 	join go_treat_subject on go_treat.GO_TREAT_SUBJECT_CODE = go_treat_subject.GO_TREAT_SUBJECT_CODE 
		where go_treat.GO_DOCTOR_ID = #{doctorId} 
		order by go_test_checkup_result.GO_CHECKUP_RESULT_REGISTRATION_DATE asc
 	</select>
 	
</mapper>
