<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="hoHospitalizationOperation">
 	
 	<!-- 입퇴원 요청 등록 -->
 	<insert id="addRequest" parameterType="String">
 		INSERT INTO ho_hospitalization_request(
 			HO_HOSPITALIZATION_REQUEST_CODE,
 			HO_TREATMENT_CODE,
 			HO_HOSPITALIZATION_REQUEST_DATE)
 		SELECT
 			if(not exists (select * from ho_hospitalization_request) ,'hospitalization_request_1',
 				CONCAT('hospitalization_request_',
 					max(cast(substring(HO_HOSPITALIZATION_REQUEST_CODE,25,5) as UNSIGNED ))+1)),
 			#{hoTreatmentCode},
 			now()
 		FROM ho_hospitalization_request
 	</insert>
 	
 	<!-- 입퇴원 요청 목록 -->
 	<select id="hospitalizationRequestList" resultType="com.team4.project.hospital.hospitalizationOperation.domain.HoHospitalizationRequest"
 									  parameterType="String">
 		SELECT
 			ho_hospitalization_request.HO_HOSPITALIZATION_REQUEST_CODE,
 			ho_hospitalization_request.HO_TREATMENT_CODE,
 			ho_hospitalization_request.HO_HOSPITALIZATION_REQUEST_DATE,
 			ho_hospitalization_request.HO_HOSPITALIZATION_STATE_CODE,
 			ho_patient.HO_PATIENT_NAME,
 			ho_treatment.HO_HOSPITAL_CODE
 		FROM ho_hospitalization_request
 		JOIN ho_treatment
 			ON ho_hospitalization_request.HO_TREATMENT_CODE = ho_treatment.HO_TREATMENT_CODE
 		JOIN ho_patient
 			ON ho_treatment.HO_PATIENT_CODE = ho_patient.HO_PATIENT_CODE	
 		WHERE ho_treatment.HO_HOSPITAL_CODE = #{hoHospitalCode} AND
 			  ho_hospitalization_request.HO_HOSPITALIZATION_STATE_CODE = 1
 			<!-- AND NOT EXISTS(select HO_HOSPITALIZATION_REQUEST_CODE from ho_hospitalization) -->
 	</select>
 	
 	<!-- 입원 환자 목록 -->
 	<select id="hospitalizationList" resultType="com.team4.project.hospital.hospitalizationOperation.domain.HoHospitalization"
 									 parameterType="String">
 		SELECT
 			ho_hospitalization.HO_HOSPITALIZATION_CODE,
 			ho_hospitalization.HO_TREATMENT_CODE,
 			ho_patient.HO_PATIENT_NAME,
 			ho_hospitalization.HO_HOSPITALIZATION_REQUEST_CODE,
 			ho_hospitalization.HO_HOSPITALIZATION_START_DATE,
 			ho_treatment.HO_HOSPITAL_CODE
 		FROM ho_hospitalization
 		JOIN ho_treatment
 			ON ho_hospitalization.HO_TREATMENT_CODE = ho_treatment.HO_TREATMENT_CODE
 		JOIN ho_patient
 			ON ho_treatment.HO_PATIENT_CODE = ho_patient.HO_PATIENT_CODE
 		WHERE
 			ho_treatment.HO_HOSPITAL_CODE = #{hoHospitalCode}
 			ho_hospitalization.HO_HOSPITALIZATION_STATE_CODE = 2
 	</select>
 	
 	<!-- 퇴원일 업데이트 -->
 	<update id="updateHospitalization" parameterType="String">
 		UPDATE
 			ho_hospitalization
 		SET
 			HO_HOSPITALIZATION_END_DATE = now()
 		WHERE
 			HO_HOSPITALIZATION_CODE = #{hoHospitalizationCode}
 	</update>
 	
 	<!-- 입원등록 -->
 	<insert id="addHospitalization" parameterType="Map">
 		INSERT INTO ho_hospitalization(
 			HO_HOSPITALIZATION_CODE,
 			HO_TREATMENT_CODE,
 			HO_HOSPITALIZATION_REQUEST_CODE,
 			HO_HOSPITALIZATION_STATE_CODE,
 			HO_HOSPITALIZATION_START_DATE)
 		SELECT
 			if(not exists (select * from ho_hospitalization) ,'hospitalization_1',
 			CONCAT('hospitalization_',
 					max(cast(substring(HO_HOSPITALIZATION_CODE,17,5) as UNSIGNED ))+1)),
 			#{hoTreatmentCode},
 			#{hoHospitalizationRequestCode},
 			2,
 			now()
 		FROM ho_hospitalization
 	</insert>
 	
 	<!-- 입원등록과 동시에 입퇴원 요청 테이블에 상태업데이트 -->
 	<update id="updateHospitalizationRequest" parameterType="String">
 		UPDATE
 			ho_hospitalization_request
 		SET
 			HO_HOSPITALIZATION_STATE_CODE = 2
 		WHERE
 			HO_HOSPITALIZATION_REQUEST_CODE = #{hoHospitalizationRequestCode}
 	</update>
 	
 	<!-- 수술 등록 -->
 	<insert id="addOperation" parameterType="com.team4.project.hospital.hospitalizationOperation.domain.HoOperation">
 		INSERT INTO ho_operation(
 			HO_OPERATION_CODE,
 			HO_TREATMENT_CODE,
 			HO_OPERATION_TYPE_CODE, 			
 			HO_OPERATION_START_DATE,
 			HO_GO_SENDSTATE)
 		SELECT
 			if(not exists (select * from ho_operation) ,'operation_1',
 			CONCAT('operation_',
 					max(cast(substring(HO_OPERATION_CODE,11,5) as UNSIGNED ))+1)),
 			#{hoTreatmentCode},
 			#{hoOperationTypeCode},
 			#{hoOperationStartDate},
 			0
 		FROM ho_operation
 	</insert>
 	
 	<!-- 수술 목록 -->
 	<select id="operationList" resultType="com.team4.project.hospital.hospitalizationOperation.domain.HoOperationSub"
 							   parameterType="String">
 		SELECT
 			ho_operation.HO_OPERATION_CODE,
 			ho_treatment.HO_HOSPITAL_CODE,
 			ho_operation.HO_TREATMENT_CODE,
 			ho_patient.HO_PATIENT_NAME,
 			ho_operation_type.HO_OPERATION_TYPE_NAME,
 			ho_operation.HO_OPERATION_START_DATE
 		FROM ho_operation
 		JOIN ho_operation_type
 			ON ho_operation.HO_OPERATION_TYPE_CODE = ho_operation_type.HO_OPERATION_TYPE_CODE
 		JOIN ho_treatment
 			ON ho_operation.HO_TREATMENT_CODE = ho_treatment.HO_TREATMENT_CODE
 		JOIN ho_patient
 			ON ho_treatment.HO_PATIENT_CODE = ho_patient.HO_PATIENT_CODE
 		WHERE ho_treatment.HO_HOSPITAL_CODE=#{hoHospitalCode}
 	</select>
 	
 	<!-- 수술 상세보기 -->
 	<select id="operationView" parameterType="String" 
 							   resultType="com.team4.project.hospital.hospitalizationOperation.domain.HoOperationSub">
 		SELECT
 			ho_operation.HO_OPERATION_CODE,
 			ho_operation.HO_TREATMENT_CODE,
 			ho_patient.HO_PATIENT_NAME,
 			ho_operation_type.HO_OPERATION_TYPE_NAME,
 			ho_operation.HO_OPERATION_START_DATE,
 			ho_operation.HO_OPERATION_END_DATE,
 			ho_operation.HO_OPERATION_DIARY
 		FROM ho_operation
 		JOIN ho_operation_type
 			ON ho_operation.HO_OPERATION_TYPE_CODE = ho_operation_type.HO_OPERATION_TYPE_CODE
 		JOIN ho_treatment
 			ON ho_operation.HO_TREATMENT_CODE = ho_treatment.HO_TREATMENT_CODE
 		JOIN ho_patient
 			ON ho_treatment.HO_PATIENT_CODE = ho_patient.HO_PATIENT_CODE
 		WHERE
 			HO_OPERATION_CODE = #{hoOperationCode}
 	</select>
 	
 	<!-- 수술일지 수정 -->
 	<update id="updateOperation" parameterType="com.team4.project.hospital.hospitalizationOperation.domain.HoOperationSub">
 		UPDATE
 			ho_operation
 		SET
 			HO_OPERATION_END_DATE = #{hoOperationEndDate},
 			HO_OPERATION_DIARY = #{hoOperationDiary}
 		WHERE
 			HO_OPERATION_CODE = #{hoOperationCode}
 	</update>
</mapper>
