<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="government">
	
	<!-- httpUrlConnection Test query -->
	<insert id="hucTest" parameterType="Map">
		INSERT INTO test(
			id,
			name
		) value (
			#{id},
			#{name}
		)
	</insert>
	
	<select id="doctorIdCheck" parameterType="String" resultType="com.team4.project.government.dto.GoDoctor">
		SELECT
			go_doctor_id
		FROM go_doctor
		WHERE go_doctor_id = #{doctorId}
	</select>
	<!-- 국민로그인 체크 -->
	<select id="citizenLoginCheck" 	parameterType="com.team4.project.government.dto.GoCitizen" 
									resultType="com.team4.project.government.dto.GoCitizen">
		SELECT
			go_citizen_no,
			go_citizen_id,
			go_citizen_name
		FROM go_citizen
		WHERE go_citizen_id=#{goCitizenId} AND go_citizen_pw=#{goCitizenPw}
	</select>
	
	<!-- 병원로그인 체크 -->
	<select id="hospitalLoginCheck" parameterType="com.team4.project.government.dto.GoHospital" 
									resultType="com.team4.project.government.dto.GoHospital">
		SELECT 
			go_hospital_id,
			go_hospital_name
		FROM go_hospital
		WHERE go_hospital_id=#{goHospitalId} AND go_hospital_pw=#{goHospitalPw}
	</select>
	
	<!-- 약정보 가져오기 -->
 	<select id="selectMedicineList" resultType="com.team4.project.government.dto.GoMedicine">
 		select
 			GO_MEDICINE_CODE as goMedicineCode,
			GO_MEDICINE_NAME as goMedicineName
		from go_medicine
 	</select>
 	
 	<!-- 진료과목 가져오기 -->
 	<select id="selectTreatSubject" resultType="com.team4.project.government.dto.GoTreatSubject">
 		SELECT 
 			GO_TREAT_SUBJECT_CODE as goTreatSubjectCode,
 			GO_TREAT_SUBJECT_NAME as goTreatSubjectName 
 		FROM go_treat_subject
 	</select>
 	
 	
</mapper>

