<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="hoTreatChart">
 	<!-- 환자등록시 자동 차트 생성(뷰페이지없음) -->
 	<insert id="addChart" parameterType="com.team4.project.hospital.treatChart.domain.HoChart">
 		INSERT into ho_chart(
 			HO_CHART_CODE,
 			HO_PATIENT_CODE,
 			HO_HOSPITAL_CODE,
 			HO_CHART_REGISTRATION_DATE,
 			HO_GO_SENDSTATE)
 		SELECT
 			<!-- 병원코드 + 차트번호로 차트코드 생성 -->
 			CONCAT(#{hoHospitalCode},
 					'chart_',
 					max(cast(substring(ho_chart.HO_CHART_CODE,17,5) as UNSIGNED ))+1),	
 			<!-- 방금 등록된 환자의 코드번호를 가져오기 위해 서브쿼리를 사용함 -->
 			(SELECT
			 	CONCAT('patient_',max(cast(substring(ho_patient.HO_PATIENT_CODE,9,5) as UNSIGNED )))
			FROM ho_patient),
 			#{hoHospitalCode},
 			now(),
 			0
 		FROM ho_chart
 	</insert>
 	<select id="treatmentList" resultType="com.team4.project.hospital.treatChart.domain.HoTreatSub">
		SELECT
			ho_treatment.HO_TREATMENT_CODE,
			ho_patient.HO_PATIENT_CODE,
			ho_patient.HO_PATIENT_NAME,
			ho_hospital.HO_HOSPITAL_CODE,
			ho_hospital.HO_HOSPITAL_NAME,
			ho_doctor.HO_DOCTOR_ID,
			ho_doctor.HO_DOCTOR_NAME,
			ho_treatment.HO_TREAT_SUBJECT_CODE,
			ho_treat_subject.HO_TREAT_SUBJECT_NAME,
			ho_treatment.HO_TREATMENT_WRITE_DATE
		FROM ho_treatment
		JOIN ho_patient
			ON ho_patient.HO_PATIENT_CODE = ho_treatment.HO_PATIENT_CODE
		JOIN ho_hospital
			ON ho_hospital.HO_HOSPITAL_CODE = ho_treatment.HO_HOSPITAL_CODE
		JOIN ho_treat_subject
			ON ho_treat_subject.HO_TREAT_SUBJECT_CODE = ho_treatment.HO_TREAT_SUBJECT_CODE
		JOIN ho_doctor
			ON ho_doctor.HO_DOCTOR_ID = ho_treatment.HO_DOCTOR_ID
		WHERE ho_hospital.HO_HOSPITAL_CODE=#{hospitalCode}
		 	
 	
 	</select>
</mapper>
