<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ho">
<!--환자조회 -->
 	<select id="selectPatient" resultType="com.team4.project.hospital.dto.HoPatient"
 								 parameterType="String">
 		SELECT 
 			HO_HOSPITAL_CODE as hoHospitalCode,
 			GO_CITIZEN_ID as goCitizenId,
 			HO_PATIENT_GENDER as hoPatientGender,
 			HO_PATIENT_NAME as hoPatientName,
 			HO_PATIENT_PHONE as hoPatientPhone,
 			HO_ZIP_CODE as hoZipCode,
 			HO_PATIENT_ADDRESS as hoPatientAddress,
 			HO_PATIENT_DETAIL_ADDRESS as hoPatientDetailAddress 
 		FROM
 		 ho_patient 
 		WHERE 
 			HO_PATIENT_CODE = #{hoPatientCode}
 	
 	</select>
</mapper>
